<?xml version="1.0" encoding="utf-8"?>
<resourcesConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="12.2.7221.0" multilingual="True">
	<cultures>
		<add culture="en-US" uiCulture="en-US" key="english (united states)-en-us" />
		<add culture="en-150" uiCulture="en-150" key="english (europe)-en-150" />
		<add culture="en-ZA" uiCulture="en-ZA" key="english (south africa)-en-za" />
		<add culture="en-AS" uiCulture="en-AS" key="english (american samoa)-en-as" />
	</cultures>
	<urlLocalizationStrategySettings>
		<add urlLocalizationStrategyName="SubFolderUrlLocalizationStrategy" config:flags="1">
			<urlLocalizationStrategySettings>
				<add setting="ca" cultureKey="english (united states)-en-us" />
			</urlLocalizationStrategySettings>
		</add>
	</urlLocalizationStrategySettings>
	<customCultures type:this="System.Collections.Generic.Dictionary`2[[System.Int32, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089],[System.String, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089]], mscorlib">
		<add key="100001" value="en-150" />
		<add key="100002" value="en-AS" />
	</customCultures>
</resourcesConfig>