<?xml version="1.0" encoding="utf-8"?>
<securityConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="12.2.7221.0" authCookieName=".SFAUTH-/" rolesCookieName=".SFROLES-/" validationKey="F394820933F0CD0C071606E0F5B22A399B3C957D726150E6DF17F5A0FCDEA5E3B3DF1D8903D63341B0EE8C3EDB967E68CD2B17037EC4140DAD054800FB9B004A" decryptionKey="0942F2D13FDA840D9B86980D0828E48DF35C6B3D252AC01573A2035AA9CFF9DB" loggingCookieName=".SFLOG-/">
	<securityTokenIssuers>
		<add key="ACF44747DFF8447AF5616610FAC4E4B597C1578D0C676D07BC6E3BF1A7FAD74E" membershipProvider="Default" realm="http://localhost" />
	</securityTokenIssuers>
	<relyingParties>
		<add key="ACF44747DFF8447AF5616610FAC4E4B597C1578D0C676D07BC6E3BF1A7FAD74E" realm="http://localhost" />
	</relyingParties>
	<membershipProviders>
		<add minRequiredNonalphanumericCharacters="1" enablePasswordReset="true" name="Default" config:flags="1" />
	</membershipProviders>
</securityConfig>