<?xml version="1.0" encoding="utf-8"?>
<systemConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="12.2.7221.0">
	<applicationModules>
		<add startupType="Disabled" name="Scheduling" config:flags="1" />
		<add startupType="Disabled" name="Forms" config:flags="1" />
		<add startupType="Disabled" name="Lists" config:flags="1" />
		<add startupType="Disabled" name="GenericContent" config:flags="1" />
		<add startupType="OnApplicationStart" name="Publishing" config:flags="1" />
		<add startupType="Disabled" name="Comments" config:flags="1" />
	</applicationModules>
	<typeImplementationsMapping>
		<add type="Telerik.Sitefinity.Web.UI.ContentUI.Config.ContentViewDefinitionElement, Telerik.Sitefinity" config:key="3" config:flags="1" />
	</typeImplementationsMapping>
</systemConfig>