<?xml version="1.0" encoding="utf-8"?>
<toolboxesConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="12.2.7221.0">
	<toolboxes>
		<toolbox name="PageControls" config:flags="1">
			<sections>
				<add enabled="False" name="Data" config:flags="1" />
				<add enabled="False" name="ScriptsAndStylesControlsSection" config:flags="1" />
				<add enabled="False" name="Login" config:flags="1" />
				<add enabled="False" name="Users" config:flags="1" />
				<add enabled="False" name="Social" config:flags="1" />
				<add name="WebsiteWidgets" />
			</sections>
		</toolbox>
		<toolbox name="PageLayouts" config:flags="1">
			<sections>
				<add enabled="False" name="TwoColumns" config:flags="1" />
			</sections>
		</toolbox>
		<toolbox name="FormControls" config:flags="1">
			<sections>
				<add enabled="False" name="Common" config:flags="1" />
			</sections>
		</toolbox>
		<toolbox name="NewsletterControls" config:flags="1">
			<sections>
				<add enabled="False" name="Common" config:flags="1" />
			</sections>
		</toolbox>
	</toolboxes>
</toolboxesConfig>