@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Mvc;

@Html.QueryBuilderScriptReferences()

<div class="form-group">
    <label for="subtitle">Subtitle</label>

    <div class="row">
        <div class="col-xs-12">
            <input id="subtitle" ng-model="properties.Subtitle.PropertyValue" class="form-control" />
        </div>
    </div>
</div>

<div class="form-group">
    <label for="title">Title</label>

    <div class="row">
        <div class="col-xs-12">
            <input id="title" ng-model="properties.Title.PropertyValue" class="form-control" />
        </div>
    </div>
</div>

<div class="form-group">
    <label for="contentInput">Content</label>
    <div class="row">
        <div class="col-xs-12">
            <textarea class="form-control" id="contentInput" ng-model="properties.Content.PropertyValue" />
        </div>
    </div>
</div>

<hr class="side-to-side">

<div class="form-group">
    <label for="image-field" class="m-top-sm">Image</label>
    <sf-image-field class="sf-Media--info modal-settings modal-settings-space"
                    sf-model="properties.ImageId.PropertyValue"
                    sf-image="selectedImage"
                    sf-provider="properties.ImageProviderName.PropertyValue"
                    sf-media-settings="@SettingsHelpers.GetMediaSettings("Image")"
                    id="image-field"></sf-image-field>
</div>

<div class="form-group">
    <div class="row">
        <div class="col-xs-6">
            <div class="checkbox">
                <label for="imagefirst">
                    <input type="checkbox" id="imagefirst" ng-model="properties.IsImageFirst.PropertyValue" ng-true-value="'True'" ng-false-value="'False'" ng-checked="properties.IsImageFirst.PropertyValue === 'True'" />
                    Display image first?
                </label>
            </div>
        </div>
    </div>
</div>

<div class="form-group">
    <label for="image-field" class="m-top-sm">Call to action</label>

    <sf-link-selector sf-link-html="currentLink" sf-selected-item="proxy.selectedItem"
                      sf-editor-content=""></sf-link-selector>
</div>




<div class="form-group">
    <label for="templateName">Template</label>
    <div class="row">
        <div class="col-xs-6">
            <select id="templateName" ng-model="properties.Template.PropertyValue" class="form-control">
                @foreach (var viewName in Html.GetViewNames("TextImageSplit", @"TextImageSplit\.(?<viewName>[\w\s]*)$"))
                {
                    <option value="@viewName">@viewName.SplitCamelCase()</option>
                }
            </select>
        </div>
    </div>
</div>
