<rewriteMaps>
  <rewriteMap name="StaticRedirects" defaultValue="">

    
    <add key="/support.php" value="/enquire" />
    <add key="/product/inx-incontrol" value="/products-and-services/inx-incontrol" />
    <add key="/our-offices.php" value="/enquire" />
    <add key="/product/inx-inflight" value="/products-and-services/inx-inflight" />

    <add key="/contact-us.php" value="/enquire" />
    <add key="/versions/landing" value="/products-and-services" />
    <add key="/solution/safety" value="/solutions/workplace-health-safety" />
    <add key="/pricing.php" value="/enquire" />
    <add key="/about-us/management.php" value="/about/executive-team" />
    <add key="/service/training" value="/products-and-services/training-services" />
    <add key="/about-us" value="/about" />
    <add key="/demologin.php" value="/enquire" />
    <add key="/product/inx-lms" value="/products-and-services/inx-lms" />
    <add key="/product/inx-intuition" value="/products-and-services/inx-intuition" />
    <add key="/the-platform.php" value="/solutions" />
    <add key="/product/inx-inflight-mobile" value="/products-and-services/inx-inflight" />
    <add key="/our-customers.php" value="/" />
    
    <add key="/product/inx-incontrol-mobile" value="/products-and-services/inx-incontrol" />
    <add key="/solution/training" value="/solutions/training-competency-management" />
    <add key="/free-trial.php" value="/enquire" />
    <add key="/product/inx-bi" value="/products-and-services/inx-bi" />
    <add key="/solution/contractor-mobilisation" value="/solutions/rostering-travel-management" />
    <add key="/product/inx-inviron" value="/products-and-services/inx-inviron" />
    <add key="/case-studies" value="/" />
    <add key="/about-us/careers.php" value="/enquire" />
    <add key="/solution/logistics" value="/solutions/rostering-travel-management" />
    <add key="/solution/occupational-health-hygiene" value="/solutions/workplace-health-safety" />
    <add key="/calculating-your-roi-on-safety.php" value="/inx-software-product-information" />
    <add key="/faq.php" value="/inx-software-product-information" />
    <add key="/industry/metals-mining" value="/industries/mining" />
    <add key="/product/inx-inhealth" value="/products-and-services/inx-inhealth" />
    <add key="/solution/risk" value="/solutions/workplace-health-safety" />
    <add key="/solution/environmental" value="/solutions/environmental-compliance" />
    <add key="/solutions-thank-you.php" value="/thank-you-for-submitting-your-enquiry" />
    <add key="/version-5.php" value="/products-and-services" />
    <add key="/solution/compliance" value="/solutions/environmental-compliance" />
    <add key="/solution/stakeholders" value="/solutions/environmental-compliance" />
    <add key="/about-us/our-partners.php" value="/enquire" />
    <add key="/product/inx-process" value="/products-and-services/inx-process" />
    <add key="/service/integrations" value="/" />
    <add key="/product/inx-inform" value="/products-and-services/inx-inform" />
    <add key="/case-study/regis-resources" value="/" />
    <add key="/service/technical" value="/products-and-services/implementation-services" />
    <add key="/guide-to-a-successful-software-implementation.php" value="/inx-software-product-information" />
    <add key="/service/environmental" value="/" />
    <add key="/products/finder" value="/products-and-services" />




  </rewriteMap>
</rewriteMaps>