<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->

  <connectionStrings>
    <add
        connectionString="Server=tcp:inx-azuredb-server.database.windows.net,1433;Initial Catalog=inx_software_dbSV12_staging;Persist Security Info=False;User ID=inx_admin;Password=Passw0rd;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;Backend=SqlAzure"
        name="Sitefinity"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <system.web>
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
    <customErrors mode="Off" xdt:Transform="Replace"/>
  </system.web>
  <appSettings>
    <add
      key="Asset:main.css"
      value="__ASSET__main.css__"
      xdt:Transform="SetAttributes"
      xdt:Locator="Match(key)"/>
    <add
      key="Asset:manifest.js"
      value="__ASSET__manifest.js__"
      xdt:Transform="SetAttributes"
      xdt:Locator="Match(key)"/>
    <add
      key="Asset:vendor.js"
      value="__ASSET__vendor.js__"
      xdt:Transform="SetAttributes"
      xdt:Locator="Match(key)"/>
    <add
      key="Asset:main.js"
      value="__ASSET__main.js__"
      xdt:Transform="SetAttributes"
      xdt:Locator="Match(key)"/>
    <add
      key="MaxMind:Enable"
      value="1"
      xdt:Transform="SetAttributes"
      xdt:Locator="Match(key)"/>
    <add
       key="MaxMind:AccountID"
       value="183485"
       xdt:Transform="SetAttributes"
       xdt:Locator="Match(key)"/>
    <add
       key="MaxMind:ClientKey"
       value="wqG0WHA6FTCbl2w3"
       xdt:Transform="SetAttributes"
       xdt:Locator="Match(key)"/>

    <add
       key="MaxMind:Logging"
       value="1"
       xdt:Transform="SetAttributes"
       xdt:Locator="Match(key)"/>
  
  </appSettings>
</configuration>

