<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add
        connectionString="Server=tcp:inx-azuredb-server.database.windows.net,1433;Initial Catalog=inx_software_dbSV12_P2;Persist Security Info=False;User ID=inx_admin;Password=Passw0rd;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;Backend=SqlAzure"
        name="Sitefinity"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>

  <appSettings>
    <add 
      key="Asset:main.css"
      value="__ASSET__main.css__"
      xdt:Transform="SetAttributes"
      xdt:Locator="Match(key)"/>
    <add 
      key="Asset:manifest.js"
      value="__ASSET__manifest.js__"
      xdt:Transform="SetAttributes"
      xdt:Locator="Match(key)"/>
    <add 
      key="Asset:vendor.js"
      value="__ASSET__vendor.js__"
      xdt:Transform="SetAttributes"
      xdt:Locator="Match(key)"/>
    <add 
      key="Asset:main.js"
      value="__ASSET__main.js__"
      xdt:Transform="SetAttributes"
      xdt:Locator="Match(key)"/>
    <add 
      key="GTAG"
      value="UA-57521871-1"
      xdt:Transform="SetAttributes"
      xdt:Locator="Match(key)"/>
    <add
      key="GAdwordTAG"
      value="AW-1065002773"
      xdt:Transform="SetAttributes"
      xdt:Locator="Match(key)"/>
    
    <add
      key="Pardot"
      value="1"
      xdt:Transform="SetAttributes"
      xdt:Locator="Match(key)"/>
    <add
      key="MaxMind:Enable"
      value="1"
      xdt:Transform="SetAttributes"
      xdt:Locator="Match(key)"/>
    <add
       key="MaxMind:AccountID"
       value="209600"
       xdt:Transform="SetAttributes"
       xdt:Locator="Match(key)"/>
    <add
       key="MaxMind:ClientKey"
       value="IU5fhx2kSVM9RHdK"
       xdt:Transform="SetAttributes"
       xdt:Locator="Match(key)"/>

    <add
      key="MaxMind:Logging"
      value="0"
      xdt:Transform="SetAttributes"
      xdt:Locator="Match(key)"/>
    <add key="GTM:ID" value="GTM-PPLDFKT" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    
  </appSettings>

 
</configuration>
